<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title>팀 등록</title>
		<link rel="stylesheet" th:href="@{/css/soccerTeam.css}" />
	</head>
	<body>
		<div class="container">
			<h2>팀 등록</h2>
			<form id="frm" method="post" action="jpa/soccerTeam/insertSoccerTeam.do" enctype="multipart/form-data">
				<table class="soccerTeam_write">
					<tr>
						<td>제목</td>
						<td><input type="text" id="title" name="title" /></td>
					</tr>
					<tr>
						<td>팀 이름</td>
						<td><input type="text" id="teamName" name="teamName" /></td>
					</tr>
					<tr>
						<td>지역</td>
						<td><input type="text" id="region" name="region" /></td>
					</tr>
					<tr>
						<td>요일</td>
						<td><input type="text" id="teamDay" name="teamDay" /></td>
					</tr>
					<tr>
						<td>시간</td>
						<td><input type="number" id="teamTime" name="teamTime" /></td>
					</tr>
					<tr>
						<td>운영 기간</td>
						<td><input type="number" id="teamPeriod" name="teamPeriod" /></td>
					</tr>
					<tr>
						<td>연락처</td>
						<td><input type="text" id="teamNumber" name="teamNumber" /></td>
					</tr>
					<tr>
						<td>팀 연령대</td>
						<td><input type="number" id="teamOld" name="teamOld" /></td>
					</tr>
					<tr>
						<td>필요 포지션</td>
						<td><input type="text" id="needPosition" name="needPosition" /></td>
					</tr>
					<tr>
						<td>필요 포지션 수</td>
						<td><input type="number" id="needPositionNumber" name="needPositionNumber" /></td>
					</tr>
					<tr>
						<td>선출 수</td>
						<td><input type="number" id="athleteNumber" name="athleteNumber" /></td>
					</tr>
					<tr>
						<td colspan="2"><textarea id="contents" name="contents"></textarea></td>
					</tr>
				</table>
				<input type="file" id="files" name="files" multiple="multiple" />
				<input type="submit" id="submit" value="저장" class="btn">
				<input type="button" id="cancel" class="btn" value="취소"/>
				
				<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
				<script>
					$(function() {
						$('#cancel').on('click', function() {
							location.href = 'openSoccerTeamList.do';
						});
					});
				</script>
			</form>
		</div>	
	</body>
</html>