<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>선수 상세 페이지</title>
    <link rel="stylesheet" th:href="@{/css/soccerTeam.css}" />
</head>
<body>
    <div class="container">
        <h2 th:text="${player.playerName}"></h2>
        <input type="hidden" id="playerIdx" name="playerIdx" th:value="${player.playerIdx}" />
        <input type="hidden" id="teamIdx" name="teamIdx" th:value="${player.teamIdx}" />
        <form id="frm" method="post">
            <table class="player_detail">
                <colgroup>
                    <col width="10%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="10%" />
                </colgroup>
                <tr>
                    <th scope="row">조회수</th>
                    <td th:text="${player.hitCnt}"></td>
                </tr>
                <tr>
                    <th scope="row">제목</th>
                    <td th:text="${player.title}"></td>
                    <th scope="row">작성자</th>
                    <td th:text="${player.creatorId}"></td>
                    <th scope="row">작성일</th>
                    <td th:text="${player.createdDatetime}"></td>
                    <th scope="row">수정일</th>
                    <td th:text="${player.updatedDatetime}"></td>
                </tr>
                <tr>
                    <th scope="row">선수 이름</th>
                    <td th:text="${player.playerName}"></td>
                    <th scope="row">지역</th>
                    <td th:text="${player.region}"></td>
                    <th scope="row">구력</th>
                    <td th:text="${player.playerPeriod}"></td>
                    <th scope="row">나이</th>
                    <td th:text="${player.playerOld}"></td>
                    <th scope="row">포지션</th>
                    <td th:text="${player.playerPosition}"></td>
                </tr>
                <tr>
                    <th scope="row">선출 여부</th>
                    <td th:text="${player.playerAthlete}"></td>
                </tr>
                <tr>
                    <th scope="row">연락처</th>
                    <td th:text="${player.playerNumber}"></td>
                </tr>
                <tr>
                    <th scope="row">내용</th>
                    <td th:text="${player.contents}"></td>
                </tr>
            </table>
        </form>

        <input type="button" id="list" class="btn" value="목록으로"/>
        <input type="button" id="update" class="btn" value="수정하기"/>
        <input type="button" id="delete" class="btn" value="삭제하기"/>

        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script>
            $(function() {
                $('#list').on('click', function() {
                    location.href = 'openSoccerTeamDetail.do?teamIdx=' + $('#teamIdx').val();
                });
                $('#update').on('click', function() {
                    location.href = 'openPlayerModify.do?playerIdx=' + $('#playerIdx').val();
                });
                $('#delete').on('click', function() {
                    let frm = $('#frm')[0];
                    $('<input>').attr({
                        type: 'hidden',
                        id: 'playerIdx',
                        name: 'playerIdx',
                        value: $('#playerIdx').val()
                    }).appendTo(frm);
                    $('<input>').attr({
                        type: 'hidden',
                        id: 'teamIdx',
                        name: 'teamIdx',
                        value: $('#teamIdx').val()
                    }).appendTo(frm);
                    frm.action = "deletePlayer.do";
                    frm.submit();
                });
            });
        </script>
    </div>
</body>
</html>
