<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>팀 상세 페이지</title>
    <link rel="stylesheet" th:href="@{/css/soccerTeam.css}" />
</head>
<body>
    <div class="container">
        <h2 th:text="${soccerTeam.teamName}"></h2>    

        <form id="frm" method="post">
            <input type="hidden" id="teamIdx" name="teamIdx" th:value="${soccerTeam.teamIdx}" />

            <table class="soccerTeam_detail">
                <colgroup>
                    <col width="10%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="10%" />
                </colgroup>
                <tr>
                    <th scope="row">글 번호</th>
                    <td th:text="${soccerTeam.teamIdx}"></td>    
                    <th scope="row">조회수</th>
                    <td th:text="${soccerTeam.hitCnt}"></td>
                </tr>
                <tr>
                    <th scope="row">제목</th>
                    <td th:text="${soccerTeam.title}"></td>
                    <th scope="row">작성자</th>
                    <td th:text="${soccerTeam.creatorId}"></td>
                    <th scope="row">작성일</th>
                    <td th:text="${soccerTeam.createdDatetime}"></td>
                    <th scope="row">수정일</th>
                    <td th:text="${soccerTeam.updatedDatetime}"></td>
                </tr>
                <tr>
                    <th scope="row">팀 이름</th>
                    <td th:text="${soccerTeam.teamName}"></td>    
                    <th scope="row">지역</th>
                    <td th:text="${soccerTeam.region}"></td>
                    <th scope="row">운영 기간</th>
                    <td th:text="${soccerTeam.teamPeriod}"></td>
                    <th scope="row">팀 연령대</th>
                    <td th:text="${soccerTeam.teamOld}"></td>
                    <th scope="row">선출 수</th>
                    <td th:text="${soccerTeam.athleteNumber}"></td>
                </tr>
                <tr>
                    <th scope="row">요일</th>
                    <td th:text="${soccerTeam.teamDay}"></td>    
                    <th scope="row">시간</th>
                    <td th:text="${soccerTeam.teamTime}"></td>
                </tr>
                <tr>
                    <th scope="row">연락처</th>
                    <td th:text="${soccerTeam.teamNumber}"></td>
                </tr>
                <tr>
                    <th scope="row">필요 포지션</th>
                    <td th:text="${soccerTeam.needPosition}"></td>    
                    <th scope="row">필요 포지션 수</th>
                    <td th:text="${soccerTeam.needPositionNumber}"></td>
                </tr>
                <tr>
                    <th scope="row">내용</th>
                    <td th:text="${soccerTeam.contents}"></td>
                </tr>
            </table>
        </form>

        <!-- 첨부파일 목록 -->
        <div class="file_list">
            <a th:each="fileInfo : ${soccerTeam.fileInfoList}"
               th:text="|${fileInfo.originalFileName} (${fileInfo.fileSize}kb)|"
               th:href="@{'/soccerTeam/file/' + ${fileInfo.teamFileIdx} + '/' + ${soccerTeam.teamIdx}}"></a>
        </div>

        <input type="button" id="list" class="btn" value="목록으로"/>
        <input type="button" id="update" class="btn" value="수정하기"/>
        <input type="button" id="delete" class="btn" value="삭제하기"/>

        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script>
            $(function() {
                $('#list').on('click', function() {
                    location.href = '/soccerTeam';
                });
                $('#update').on('click', function() {
                    location.href = '/soccerTeam/' + $('#teamIdx').val() + '/edit';
                });
                $('#delete').on('click', function() {
                    let teamIdx = $('#teamIdx').val();
                    $.ajax({
                        url: '/soccerTeam/' + teamIdx,
                        type: 'DELETE',
                        success: function(result) {
                            location.href = '/soccerTeam';
                        },
                        error: function(error) {
                            alert('Error deleting the team');
                        }
                    });
                });
            });
        </script>
    </div>

    <div class="container_player">
        <h2>선수 등록</h2>    
        <table class="player_list">
            <colgroup>
                <col width="10%" />
                <col width="10%" />
                <col width="*"/>
                <col width="5%" />
                <col width="10%" />    
                <col width="10%" />
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">선출 여부</th>
                    <th scope="col">선수 이름</th>
                    <th scope="col">제목</th>
                    <th scope="col">지역</th>
                    <th scope="col">등록일</th>
                    <th scope="col">수정일</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="player : ${playerList}">
                    <td th:text="${player.playerAthlete}"></td>
                    <td th:text="${player.playerName}"></td>
                    <td class="title">
                        <a th:href="@{'/soccerTeam/player/' + ${player.playerIdx}}" th:text="${player.title}"></a>
                    </td>
                    <td th:text="${player.region}"></td>
                    <td th:text="${player.createdDatetime}"></td>
                    <td th:text="${player.updatedDatetime}"></td>
                </tr>
                <tr th:if="${#lists.isEmpty(playerList)}">
                    <td colspan="6">조회된 결과가 없습니다.</td>
                </tr>
            </tbody>
        </table>

        <input type="button" id="write" class="btn" value="글쓰기"/>
        <script>
            $(function() {
                $('#write').on('click', function() {
                    location.href = '/soccerTeam/player/write?teamIdx=' + $('#teamIdx').val();
                });
            });
        </script>
    </div>
</body>
</html>
